
.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #000;
        font-size: 1.1em;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #740404 repeat-x top;
        border-left: solid 1px #525252;
        font-size: 1.3em;
    }

    .mGrid .alt {
        background: #06f8b6 repeat-x top;
    }


.mGrid2 {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid2 td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #000;
        font-size: 1.1em;
    }

    .mGrid2 th {
        padding: 4px 2px;
        color: #fff;
        background: #03109d repeat-x top;
        border-left: solid 1px #525252;
        font-size: 1.3em;
    }

    .mGrid2 .alt {
        background: #ee07ce repeat-x top;
    }
